<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width+device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='main.css') }}">
    <script src="static/validations.js" type="text/javascript"></script>
</head>

<body>
    <header>
        <h1> Travel, Tourisim and Hospitality </h1>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <h3> KLU </h3>
    </footer>

</body>
</html>